<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="app">
    {{ text }}

    <ul>
        <li v-for="item in items">
            {{item}}
        </li>
    </ul>

    <h3>V mode example</h3>
    <textarea v-model="message" rows="8" cols="80"></textarea>
    <p>{{message}}</p>

    <label for="a">a</label>
    <input name="a" v-model="modelinput" type="checkbox" value="a">
    <label for="b">b</label>
    <input name="b" v-model="modelinput" type="checkbox" value="b">
    <label for="c">c</label>
    <input name="c" v-model="modelinput" type="checkbox" value="c">

    <span v-for="item in items">
        <label for="{{item}}">
            {{item}}
            <input v-model="modelinput" type="checkbox" v-bind:value="item">
        </label>
    </span>
    <h3>{{modelinput}}</h3>


    <h4>Do you like tacos?</h4>
    <input v-model="tacos" value="yes" id="yes" type="radio">
    <label for="yes">yes</label>
    <input v-model="tacos" value="no" id="no" type="radio">
    <label for="no">no</label>

    <p v-if="tacos === 'yes'">Nice!!!!!</p>
    <p v-else-if="tacos === 'no'">Monster!!!</p>

    <!-- calculator exercise -->
    <h1>My Calculator</h1>
    <span>
        <input v-model.number="a" type="number"> + <input v-model.number="b" type="number"> = <p>{{a + b}}</p>
    </span>


</div>

<!-- scripts -->
<script src="https://unpkg.com/vue@next"></script>
<script src="./app.js"></script>
</body>
</html>
